<div class="d-flex flex-column justify-content-center">

   <button data-bs-toggle="collapse" class="btn btn-danger" data-bs-target="#demo">Nil Systems</button>

   <div id="demo" class="collapse ">

     Diz a lenda que em uma longínqua província havia um monastério onde o Mestre Programador compartilhava seus ensinamentos. Um de seus diálogos foi a respeito de NULL.<br><br>

'Mestre', perguntou o analista júnior da corte de Wu, 'O que significa NULL?'<br><br>

'Você me pergunta sobre o indecifrável', respondeu o Mestre Programador. 'NULL é o que nunca foi, e nunca será.'<br><br>

'É seu reflexo em um lago que nunca existiu.<br><br>
O filho que nunca foi concebido.<br><br>
O amor que nunca chamou de seu, porque lhe faltou coragem.<br><br>
É o escuro do mundo, e além.'<br><br>

'É o objeto que nunca salvei?'<br><br>

'Não. Este objeto foi destruído pelo Garbage Collector, após ser Disposed();.'<br><br>

'É a variável que declarei, porém nunca inicializei?'<br><br>

'Não. Na variável não inicializada existe o potencial para a grandiosidade; seu futuro não está escrito ainda, e talvez nem exista - porém seu lugar está reservado na história do mundo. Ela é undefined, ou uninitialized.'<br><br>

'E porque tantas linguagens implementam NULL?'<br><br>

'Porque precisamos admitir nossa ignorância. O que não sabemos, não pode ser descrito; o que não tem valor não pode ser avaliado.'<br><br>

'Então porque não utilizar zero, ou um espaço em branco?'<br><br>

'Você deseja um zero porque sua mente não consegue abandonar o conceito de algo. Ela associa o zero, uma ausência numérica, ao nada - e mesmo o nada é mais que NULL. Seu código então carregará uma semente de entropia. Ele estará separado do Zen, e a caminho de tornar-se código spaguetti.'<br><br>

'Mas, Mestre... então por quê, em PHP, (array() == null);?'<br><br>

O Mestre Programador então suspirou. Esta seria uma tarde longa.<br><br>
</div>
</div>
