<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h1>Seja bem vinda(o) <%= current_user.username %>
      <h5>Seu email atual é: <%= current_user.email %>

</h1><%= link_to "Mudar senha", edit_user_path(current_user), :class => "btn btn-warning" %>

    </div>
  </div>
  </div>
